<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkımızda - Blog Sitesi</title>
    
    <style>
        /* Özel CSS stilleri */
        .misyon-vizyon {
            background-color: #f8d7da; /* Kırmızımsı pembe */
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 20px;
        }
    </style>
            <link href="~/css/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="mt-5">Hakkımızda</h1>
                <p>Blog Sitesi, bilgi paylaşımını teşvik eden bir platformdur. Amacımız, insanların deneyimlerini, bilgilerini ve düşüncelerini paylaşabilecekleri bir ortam sağlamaktır. Blog Sitesi, herkesin sesini duyurabileceği ve topluluğumuzun bir parçası olabileceği bir yerdir.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="misyon-vizyon">
                    <h3>Misyonumuz</h3>
                    <p>Misyonumuz, bilgi paylaşımını kolaylaştırmak ve insanları bilgilendirmek, eğitmek ve ilham vermek için bir platform sağlamaktır. Blog Sitesi, herkesin kendi alanlarında uzmanlaşmış bilgi ve deneyimlerini paylaşabileceği bir ortam yaratır. Böylece, topluluk üyelerimiz birbirlerinden öğrenebilir ve büyüyebilir.</p>
                    <br />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="misyon-vizyon">
                    <h3>Vizyonumuz</h3>
                    <p>Vizyonumuz, bilgi paylaşımını teşvik eden ve herkesin katkıda bulunabileceği bir topluluk oluşturmaktır. Blog Sitesi, kullanıcıların kendi konularını oluşturabilecekleri, makaleler yayınlayabilecekleri ve toplulukla etkileşime geçebilecekleri bir platformdur. Bu vizyon doğrultusunda, bilgiye erişimi ve paylaşımını kolaylaştırmak için sürekli olarak platformumuzu geliştirmekteyiz.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>