@model KullaniciGuncelleVM

@{
    ViewData["Title"] = "ProfilDegis";
}

<h1 class="text-center text-dark fw-bold mt-5">Profilini Değiştirmek İçin Aşağıdan Yeni Profilini Seç</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProfilDegis" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ProfilResmi" class="control-label">Profil Resmi</label>
                <input asp-for="@Model.ProfilResmi" class="form-control" type="file" />
                <span asp-validation-for="@Model.ProfilResmi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Hesap">Profilime Geri Dön</a>
</div>

